.navbar {
  display: flex;
  justify-content: space-between;

  background: #f3eac2;
  border-bottom: 1px solid #b86715;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  padding: 10px;
  gap: 10px;
}

.nav-button {
  display: flex;
  padding: 10px 30px;
  border-radius: 25px;

  text-decoration: none;

  color: #8b4a00;
  border: 2px solid #b86715;

  transition: background 0.3s, color 0.3s;
  white-space: nowrap;
}

.nav-button:hover {
  background: #f5d7ba;
  opacity: 0.8;
}

.nav-button.active {
  background: #b86715;
  color: #fff;
  border: 2px solid #8b4a00;
}

.navbar > app-newsline {
  flex: 1 1 auto; /* crecer, encoger, base automática */
  min-width: 0; /* CRUCIAL: permite que el elemento se reduzca */
}

/* para tablets */
@media (max-width: 1024px) {
  .navbar {
    padding: 8px;
    gap: 8px;
  }

  .nav-button {
    padding: 8px 20px;
    font-size: 0.95rem;
  }
}

/* para móviles */
@media (max-width: 640px) {
  .navbar {
    flex-wrap: wrap;
    padding: 6px;
    gap: 6px;
  }

  .nav-button {
    padding: 6px 12px;
    font-size: 0.85rem;
  }

  .navbar > app-newsline {
    order: 3;
    flex: 1 1 100%;
    margin: 5px 0 0 0;
  }

  .navbar .flex {
    gap: 6px;
  }
}
