.floating-text {
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;

  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;

  color: rgb(255, 243, 216);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);

  pointer-events: none;
  user-select: none;
  -moz-user-select: none;

  transform: translateY(0);
  transform: translate(-50%, 0);
  -moz-transform: translateY(0);
  -moz-transform: translate(-50%, 0);
  transition: transform 900ms ease-out, opacity 900ms ease-out;
  -moz-transition: -moz-transform 900ms ease-out, opacity 900ms ease-out;
  will-change: transform, opacity;
  -moz-will-change: transform, opacity;

  animation: parriba 900ms ease-out forwards;
}

@keyframes parriba {
  0% {
    transform: translate(-50%, 0);
    opacity: 1;
  }
  70% {
    opacity: 0.75;
  }
  100% {
    transform: translate(-50%, -48px);
    opacity: 0;
  }
}
