@if (config){
<app-button
  type="button"
  variant="quaternary"
  [disabled]="pointsService.points().lt(price) || !unlocked"
  [hoverable]="pointsService.points().gte(price) && unlocked"
  [active]="false"
  [clickable]="!(pointsService.points().lt(price) || !unlocked)"
  (click)="buyProducer()"
  [noSound]="true"
>
  @if (unlocked) {
  <div class="producer-grid-content">
    <img class="producer-grid-image" src="{{ config.image }}" alt="{{ config.name | transloco }}" />
    <p class="producer-grid-name">{{ config.name | transloco }}</p>

    @if (quantity > 0) {
    <div class="flex flex-col items-center gap-1 mt-auto">
      <p class="producer-grid-quantity">x{{ quantity }}</p>
      <p class="producer-grid-production">
        {{ calculateTotalPoints() | short }} {{ 'producers.cps' | transloco }}
      </p>
    </div>
    }

    <p
      class="producer-grid-price"
      [ngClass]="pointsService.points().gte(price) ? 'text-green-700' : 'text-red-600'"
    >
      {{ price | short }} ¢
    </p>
  </div>
  } @else {
  <div class="producer-grid-content producer-grid-locked">
    <img
      class="producer-grid-image locked-image"
      src="{{ config.image }}"
      alt="{{ config.name | transloco }}"
    />
    <p class="producer-grid-name locked-name">{{ config.name | transloco }}</p>
    <p class="locked-level-text">{{ 'producers.level' | transloco }} {{ config.level }}</p>
  </div>
  }
</app-button>
}
