# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
*.launch
.settings/
*.sublime-workspace
*.iml
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Angular / caches
.angular/cache
.sass-cache/
.connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# Android / Bubblewrap (TWA) - Builds y cachés temporales
/app/build/
/app/.gradle/
/app/.idea/
/app/local.properties
.gradle/
/build/
store_icon.png
manifest-checksum.txt

# Archivos firmados (release)
*.aab
*-release.apk
*-release-unsigned.apk
*-signed.apk
*-aligned.apk
*.apk.idsig

# Keystore
android.keystore
*.jks
*.keystore
keystore.properties

# System files
.DS_Store
Thumbs.db
