@for (event of events(); track event.id) {
  @if (event.spawned) {
    <button
      type="button"
      class="event-container"
      [attr.data-state]="event.state"
      [style.top.%]="event.position.y"
      [style.left.%]="event.position.x"
      (click)="onClick(event.id, $event)"
      [attr.aria-label]="'event.collectTooltip' | transloco"
      [attr.title]="'event.collectTooltip' | transloco"
    >
      <img
        [src]="event.image"
        [attr.alt]="'event.collectTooltip' | transloco"
        class="event-image"
      />
    </button>
  }
}
