<div class="h-full w-full flex flex-col md:flex-row">
  <!-- en movil mostrar tabs -->
  <div class="mobile-tabs md:hidden flex items-center justify-center gap-2 p-2">
    <app-button
      type="button"
      variant="nav"
      [class.active]="mobileTab === 'upgrades'"
      (click)="mobileTab = 'upgrades'"
    >
      {{ 'upgrades.title' | transloco }}
    </app-button>

    <app-button
      type="button"
      variant="nav"
      [class.active]="mobileTab === 'producers'"
      (click)="mobileTab = 'producers'"
    >
      {{ 'producers.title' | transloco }}
    </app-button>
  </div>
  <!--producers + upgrades (en movil) -->
  <div class="mobile-panels-wrapper w-full flex flex-col-reverse md:flex-row">
    <!--producers-->
    <div
      class="producers-panel flex flex-col w-full flex-1 min-w-0"
      [class.mobile-hidden]="mobileTab === 'upgrades'"
    >
      <app-shop-controls context="producers" />
      <div class="producers-container producers-grid">
        <div class="producers-list gap-2 md:gap-4 p-2 md:p-4">
          @for (producer of producers; track producer.id) {
          <app-producer [config]="producer" class="producer-compact"></app-producer>
          } @empty {
          <div
            class="no-producers-placeholder flex justify-center items-center p-8 text-amber-800 italic opacity-70"
          >
            <p>{{ 'producers.noProducers' | transloco }}</p>
          </div>
          }
        </div>
      </div>
    </div>

    <hr class="divider-vertical" />

    <!--upgrades-->
    <div
      class="upgrades-panel flex flex-col upgrades-section"
      [class.mobile-hidden]="mobileTab === 'producers'"
    >
      <div class="w-full flex items-center justify-center 2xl:justify-between">
        <div class="hidden md:block">
          <app-shop-controls context="upgrades"></app-shop-controls>
        </div>
      </div>
      <div class="block md:hidden px-2">
        <app-shop-controls context="upgrades"></app-shop-controls>
      </div>
      <div class="upgrades flex flex-col gap-2 md:gap-4 p-2 md:p-4">
        @for (upgrade of filteredUpgrades(); track upgrade.id) {
        <app-upgrade [config]="upgrade"></app-upgrade>
        }
      </div>
    </div>
  </div>
</div>
