@switch (control().controlType) {
  @case ('range-slider') {
    <div class="flex items-center justify-between gap-4 text-amber-800">
      @if (getRangeControl().label) {
        <span class="text-xl min-w-20">{{ getRangeControl().label | transloco }}</span>
      }
      <input
        type="range"
        [min]="getRangeControl().min"
        [max]="getRangeControl().max"
        [step]="getRangeControl().step"
        class="flex-1"
        [value]="getRangeControl().value"
        (input)="onValueChange($event)"
        (change)="onValueChange($event)"
      />
      @if (getRangeControl().showValue) {
        <span class="min-w-12 text-right text-xl"
          >{{ getRangeControl().value }}{{ getRangeControl().valueUnit }}</span
        >
      }
    </div>
  }
  @case ('toggle-switch') {
    <div class="flex items-center justify-between gap-4 text-amber-800">
      @if (getToggleControl().label) {
        <span class="text-xl min-w-40">{{ getToggleControl().label | transloco }}</span>
      }
      <label
        class="toggle-switch"
        [attr.aria-label]="
          getToggleControl().label ? (getToggleControl().label | transloco) : 'toggle'
        "
      >
        <input
          type="checkbox"
          [ngModel]="getToggleControl().checked"
          (ngModelChange)="onToggleChange($event)"
          [attr.aria-label]="
            getToggleControl().label ? (getToggleControl().label | transloco) : 'toggle'
          "
        />
        <span class="toggle-slider"></span>
      </label>
    </div>
  }
}
