@if (optionsService.showCroquetita()) {
<div class="croquetita-container">
  <!-- croquetita :3 -->
  <button
    class="croquetita-character"
    (click)="toggleHelper()"
    [class.talking]="isOpen()"
    title="Haz click en Croquetita para recibir ayuda"
  >
    <img src="assets/croquetita/croquetita.webp" class="croquetita-face" />
    @if (!isOpen()) {
    <span class="croquetita-bubble-indicator">💬</span>
    }
  </button>

  @if (isOpen()) {
  <div class="croquetita-dialog" [class.animate]="isAnimating()">
    <span (click)="close()" class="croquetita-close-btn">X</span>
    <div class="croquetita-message text-balance">
      {{ currentMessage() }}
    </div>
  </div>
  }
</div>
}
