:host {
  display: block;
}

:host > div {
  width: 100%;
}

@media (max-width: 640px) {
  :host > div {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    gap: 0.5rem !important;
    flex-wrap: wrap;
    justify-content: center;
  }

  :host > div > div {
    flex: 0 1 auto;
  }
}
