.main-container{
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.menu-container{
    display: flex;
    flex-direction: column;
    width: 60vw;
}

.clicker-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
}