<main>
  <div class="main-container">
    <app-splash (splashComplete)="onSplashComplete()" />
    <app-modal />
    @if (isMobile) {
    <app-newsline />
    <app-achievement-popup />
    <app-floating-buttons />
    }
    <div class="clicker-container">
      <app-level-up-popup />
      <app-bonus-countdown-popup />
      <app-golden-croqueta />
      <app-particles />
      <app-floating />
      <app-clicker />
      <app-counter />
      <app-croquetita />
    </div>
    @if (!isMobile) {
    <div class="menu-container">
      <app-navbar />
      <div class="page-content">
        <router-outlet />
      </div>
    </div>
    }
  </div>
</main>
