<main>
  <div class="main-container">
    <app-splash (splashComplete)="onSplashComplete()" />
    <app-modal />
    <app-achievement-popup />
    <app-skin-unlock-popup />
    @if (isMobile) {
    <app-newsline />
    <app-floating-buttons />
    }
    <div class="clicker-container">
      <app-level-up-popup />

      <app-golden-croqueta />
      <app-particles />
      <app-floating />
      @if (!isMobile) {
      <app-stats variant="desktop" />
      } @if (isMobile) {
      <div class="mobile-top">
        <app-stats variant="mobile" />
      </div>
      <div class="clicker-wrapper">
        <app-clicker />
      </div>
      <div class="mobile-bottom">
        <app-counter />
      </div>
      } @else {
      <div class="desktop-content">
        <app-clicker />
        <app-counter />
      </div>
      }
      <app-croquetita />
    </div>
    @if (!isMobile) {
    <div class="menu-container">
      <app-navbar />
      <div class="page-content">
        <router-outlet />
      </div>
    </div>
    }
  </div>
</main>
