<main>
  <app-backgrounds></app-backgrounds>
  <div class="main-container">
    <app-splash (splashComplete)="onSplashComplete()" />
    <app-modal />
    <app-achievement-popup />
    @if (isMobile) {
    <app-skin-unlock-popup />
    <app-newsline />
    <app-floating-buttons />
    }
    <div class="clicker-container">
      <app-level-up-popup />

      <app-golden-croqueta />
      <app-particles />
      <app-floating />
      @if (!isMobile) {
      <app-stats variant="desktop" />
      <app-leaderboard />
      } @if (isMobile) {
      <div class="mobile-top">
        <app-stats variant="mobile" />
      </div>
      <div class="clicker-wrapper">
        <app-clicker />
      </div>
      @if (isMobile) {
      <app-leaderboard mode="panel" class="mobile-leaderboard" />
      }
      <div class="mobile-bottom">
        <app-counter />
      </div>
      } @else {
      <div class="desktop-content">
        <app-clicker />
        <app-counter />
      </div>
      }
      <app-croquetita />
    </div>
    @if (!isMobile) {
    <div class="menu-container">
      <app-navbar />
      <div class="page-content">
        <router-outlet />
      </div>
    </div>
    }
  </div>
  @if (isDebugMode) {
  <div class="fixed bottom-5 right-5 bg-amber-950/50 text-red-200 py-2 px-4 rounded text-xs z-200">
    {{ 'debug.alert' | transloco }}
  </div>
  }
</main>
