.achievement-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.achievement-list-scrollable {
    overflow-y: auto;
    flex: 1;
    padding: 8px 8px 16px 0;
    scrollbar-width: thin;
    scrollbar-color: #b89c5a #f3eac2;
    mask-image: linear-gradient(to bottom, transparent, black 2%, black 95%, transparent);
    -webkit-mask-image: linear-gradient(to bottom, transparent, black 2%, black 95%, transparent);
}

.achievement-list-scrollable::-webkit-scrollbar {
    width: 10px;
}

.achievement-list-scrollable::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #b89c5a 0%, #ccb78b 100%);
    border-radius: 8px;
    border: 2px solid #f3eac2;
}

.achievement-list-scrollable::-webkit-scrollbar-track {
    background: #f3eac2;
    border-radius: 8px;
}

app-corner-card {
    transition: all 0.3s ease;
}

.grayscale {
    filter: grayscale(100%);
}
