.golden-croqueta-container {
  position: fixed;
  z-index: 9999;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.8);

}

.golden-croqueta-container img {
  width: 53px;
  height: 100px;
  filter: drop-shadow(0 0 15px gold);
  animation: tilt 4s infinite linear;
}

.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes tilt {
  0%, 100% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(5deg);
  }
}
