@if (!bought) {
<button
  (click)="buyUpgrade()"
  class="pr-8 h-full max-w-3xs w-full min-w-48"
  [ngClass]="pointsService.points().lt(config.price) || !unlocked ? 'cursor-not-allowed' : 'cursor-pointer'"
>
  <app-corner-card
    type="button"
    [disabled]="pointsService.points().lt(config.price) || !unlocked"
    [hoverable]="pointsService.points().gte(config.price) && unlocked"
    [active]="false"
    [clickable]="true"
    [showBorder]="false"
  >
    <!--Comprobar si esta desbloqueado, de momento siempre lo está-->
    @if (unlocked) {
    <div class="flex flex-col items-center gap-2">
      <img class="flex size-16" src="{{ config.image }}" alt="{{ config.name }}" />
      <div class="flex flex-col justify-center">
        <p class="flex text-base">{{ config.name }}</p>
        <p
          class="text-xs"
          [ngClass]="pointsService.points().gte(config.price) ? 'text-black' : 'text-red-500'"
        >
          {{ config.price | short }} ¢
        </p>
      </div>
    </div>
    } @else {
    <div class="flex h-28 justify-center items-center italic opacity-70 text-amber-800">
      <p>???</p>
    </div>
    }
  </app-corner-card>
</button>
}
