@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Chewy', system-ui;
}

body {
  background: url('/images/bg.jpg') no-repeat center/cover;
  backdrop-filter: blur(2px) brightness(0.8);
  overflow: hidden;
}
