@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Chewy', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url('/assets/backgrounds/bg.webp') no-repeat center/cover;
  backdrop-filter: blur(2px) brightness(0.8);
  overflow: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeSpeed;
}

img,
video {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  loading: lazy;
}

/* Prevenir FOUC (Flash of Unstyled Content) https://dev.to/lyqht/what-the-fouc-is-happening-flash-of-unstyled-content-413j */
app-root {
  display: block;
  min-height: 100svh;
}

/* DOM oculto hasta que angular cargue */
.cloak {
  visibility: hidden;
}

.cloak.loaded {
  visibility: visible;
}

* {
  scrollbar-width: thin;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

@media (max-width: 1344px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    backdrop-filter: none;
  }
}
