@font-face {
  font-family: 'Chewy';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/chewy.woff2") format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@import 'tailwindcss';

* {
  font-family: 'Chewy', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  background: url('/assets/backgrounds/bg.webp') no-repeat center/cover;
  backdrop-filter: blur(2px) brightness(0.8);
  overflow: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeSpeed;
}

img,
video {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  loading: lazy;
}

/* Prevenir FOUC (Flash of Unstyled Content) https://dev.to/lyqht/what-the-fouc-is-happening-flash-of-unstyled-content-413j */
app-root {
  display: block;
  min-height: 100svh;
}

/* DOM oculto hasta que angular cargue */
.cloak {
  visibility: hidden;
}

.cloak.loaded {
  visibility: visible;
}

* {
  scrollbar-width: thin;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}

@media (max-width: 1344px) {
  * {
    -webkit-tap-highlight-color: transparent;
  }

  body {
    backdrop-filter: none;
  }
}
