@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
@import 'tailwindcss';

* {
  font-family: 'Chewy', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: url('/images/bg.webp') no-repeat center/cover;
  backdrop-filter: blur(2px) brightness(0.8);
  overflow: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
}

img,
video {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

/* Prevenir FOUC (Flash of Unstyled Content) https://dev.to/lyqht/what-the-fouc-is-happening-flash-of-unstyled-content-413j */
app-root {
  display: block;
  min-height: 100svh;
}

/* DOM oculto hasta que angular cargue */
.cloak {
  visibility: hidden;
}

.cloak.loaded {
  visibility: visible;
}

* {
  scrollbar-width: thin;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Golden Croqueta Bonus Text */
.golden-bonus-text {
  color: gold;
  text-shadow: 0 0 5px gold, 0 0 10px gold;
  font-size: 1.2em; /* Make it slightly bigger */
}
